        
    
    <div class="recipe-title">
        <h3>{{recipe.title}}</h3>
    </div>

    <div style="float:right; padding-top:8px;">
        <h4 style="float:left; margin-right:10px;">Favorite it: </h4> {{recipe.favorites}}
        <md-button style="float:left;" class="md-icon-button md-primary" aria-label="FAVORITE" ng-click="favorite()">
            <md-icon md-font-library="material-icons" style="color:red; font-size: 25px">{{mdfavorite}}</md-icon>
        </md-button>

    </div>
    <hr style="border:1px solid #222222; width:100%;"/>
<div>
    <center> <img style="max-width:100%; height:350px; margin-bottom:10px" ng-src='/images/{{bigImage}}' /></center>
</div>

<span ng-repeat="image in recipe.images | limitTo:5">
    <img ng-click="imageClick(image)" style="height:100px; width:auto; max-width:19%;" ng-src='/images/{{image}}'/>
</span>

<div style="width:48%; float:left;">
    <h4>Ingredients:</h4>
    <list ng-repeat="i in recipe.ingredients" ng-show="recipe.ingredients">
        <li>{{i.name}}, {{i.amount}}{{i.unit}}</li>
    </list>
</div>

<div style="width:48%; float:right;">
    <h4>Description:</h4>
    {{recipe.description}}
</div>


<div style="margin-top:50px; width:100%;">
    <br />
    <h4>How To:</h4>
    {{recipe.howTo}}
</div>

<div style="margin-top:50px; width:100%;">
    <br />
    <h4>Comments:</h4>
</div>

<div ng-repeat="comment in recipe.comments | orderBy:'-upvotes'">
    <div style="margin:10px;">
        <a class="author-name" href="/#/user/{{comment.author}}">{{comment.author}}:</a>

        <span style="margin-left:10px;">
            {{comment.body}}
        </span>
        <br />
        <span class="glyphicon glyphicon-thumbs-up" ng-show="isLoggedIn()" ng-click="incrementUpvotes(comment)"></span>
        {{comment.upvotes}}
    </div>
</div>

<form ng-submit="addComment()" ng-show="isLoggedIn()" style="margin-top:30px;">

    <div ng-hide="isLoggedIn()">
        <h3>You need to
            <a href="/#/login">Log In</a>
            or
            <a href="/#/register">Register</a>
            before you can comment.</h3>
    </div>

    <h3>Add a new comment</h3>

    <div class="form-group">
        <input type="text" class="form-control" placeholder="Comment" ng-model="body"></input>
    </div>
    <button type="submit" class="btn btn-primary btn-add-comment">Add comment</button>
</form>



<!--<md-list>
<md-list-item class="md-2-line" ng-repeat="comment in recipe.comments">
    <md-button class="md-icon-button md-primary" aria-label="FAVORITE" ng-click="incrementUpvotes(comment)">
        {{comment.upvotes}}</md-button>
    <div class="md-list-item-text">
        <h3>{{comment.body}}</h3>
        - by:
        <a href="/#/user/{{comment.author}}">{{comment.author}}</a>
    </div>
</md-list-item>
</md-list>-->

<!--<md-input-container>
<label>Username</label>
<input type="text" ng-model="user.name">
</md-input-container>-->
