
<form ng-show="isLoggedIn()" style="margin-top:30px;">

    <div ng-hide="isLoggedIn()">
        <h3>You need to
            <a href="/#/login">Log In</a>
            or
            <a href="/#/register">Register</a>
            before you can add a post.</h3>
    </div>
    <h3>Add a new recipe</h3>

    <div class="form-group">
        <input type="text" class="form-control" placeholder="Title" ng-model="title" />
        <input type="text" class="form-control" placeholder="Discription" ng-model="discription" />

        <select ng-model="people">
            <option value>antal portioner</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
        </select>
        <input type="number" class="form-control" placeholder="tid fra start til slut" ng-model="time" />
    </div>
    <div class="form-group">
        <input type="text" class="form-control" placeholder="How to. Descripe the procedure of this recipe start to finish." ng-model="howTo" />
    </div>

    <fieldset data-ng-repeat="i in ingredients">
        <input type="text" ng-model="i.name" name="" placeholder="Ingredient">
        <input type="text" ng-model="i.amount" name="" placeholder="Mængde">

        <select ng-model="i.unit">
            <option value="" disabled selected>Enhed</option>
            <option value="g.">g.</option>
            <option value="ml.">ml.</option>
            <option value="dl.">dl.</option>
        </select>
        <button class="remove" ng-show="$last" ng-click="removeIng()">-</button>
    </fieldset>
    <button class="addfields" ng-click="addNewIng()">Add fields</button>

    <div id="ingredientsDisplay">
        {{ ingredients }}
    </div>
  </form>
<button ng-click="addRecipe()" class="btn btn-primary">gem recipe</button>
