<h3 class="wmargins">Opret ny opskrift</h3>
<div ng-hide="isLoggedIn()">
    <h3>You need to
        <a href="/#/login">Log In</a>
        or
        <a href="/#/register">Register</a>
        before you can add a post.</h3>
</div>
<form ng-submit="addRecipe()" ng-show="isLoggedIn()" style="margin-top:30px;">

    <div class="form-group">
        <input type="text" class="form-control wmargins" placeholder="Title" ng-model="title" required/>
        <input type="text" class="form-control wmargins" placeholder="Description" ng-model="description" required/>

        <div class="form-inline wmargins">

            <select ng-model="people" class="form-control" required>
                <option value="" disabled selected>Antal personer</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
            </select>
            <span class="glyphicon glyphicon-user wsmallmargins"></span>
            <input type="number" class="form-control" placeholder="Tid (min)" ng-model="time" required/>
            <span class="glyphicon glyphicon-time wsmallmargins"></span>
        </div>
    </div>

    <fieldset data-ng-repeat="i in ingredients" class="form-inline wmargins">
        <input type="text" ng-model="i.name" name="" class="form-control" placeholder="Ingredient" required>
        <input type="number" ng-model="i.amount" name="" class="form-control" placeholder="Mængde" required>

        <select ng-model="i.unit" class="form-control" required>
            <option value="" disabled selected>Enhed</option>
            <option value="g.">g.</option>
            <option value="ml.">ml.</option>
            <option value="dl.">dl.</option>
        </select>
        <button type='button' class="btn btn-info" ng-show="$last" ng-click="removeIng()">Fjern
          <span style="margin-left: 5px; " class="glyphicon glyphicon-minus "></span></button>

        </button>
    </fieldset>
    <button type='button' class="btn btn-info wmargins" ng-click="addNewIng()">Tilføj
    <span style="margin-left: 5px; " class="glyphicon glyphicon-plus "></span></button>
    <textarea type="text" class="form-control wmargins" placeholder="Fremgangsmåde" ng-model="howTo" required></textarea>

    <input type="submit" id="submit" value="Opret opskrift" class="btn btn-primary wmargins"/>
</form>

<div id="ingredientsDisplay">
    {{ingredients}}
</div>
