<div class="page-header">

    <h3>Private page for
        {{user.username}}</h3>
    <h3>My Id:
        {{user._id}}</h3>

    <h3>Muh recipes:</h3>
    <table class="table table-striped table-hover ">
      <thead>
        <tr>
          <th>Title</th>
          <th>Author</th>
          <th>Time</th>
          <th>People</th>
          <th>Favorites</th>
          <th>Comments</th>
        </tr>
      </thead>
      <tr ng-repeat="r in user.recipes" ui-sref="recipes({id: r._id})">
        <td>{{ r.title }}</td>
        <td>{{ r.author}}</td>
        <td>{{ r.preptime}}</td>
        <td>{{ r.people}}</td>
        <td>{{ r.favorites}}</td>
        <td>{{ r.comments.length}}</td>
      </tr>
    </table>

</div>

<button ui-sref="me.edit">edit</button>
<div ui-view></div>
</div>
