<div class="page-header">

    <h3>Private page for
        {{user.username}}</h3>
    <h3>My Id:
        {{user._id}}</h3>

    <h3>Muh recipes:</h3>
    <table class="table table-striped table-hover ">
        <thead>
            <tr>
                <th>Title</th>
                <th>Time</th>
                <th>People</th>
                <th>Favorites</th>
                <th>Comments</th>
            </tr>
        </thead>
        <tr ng-repeat="r in user.recipes" >
          <td ui-sref="recipes({id: r._id})">
              <a href="">
                  {{ r.title }}</a>
          </td>
            <td ui-sref="recipes({id: r._id})">{{ r.preptime}}</td>
            <td ui-sref="recipes({id: r._id})">
                {{ r.people}}
            </td>
            <td ui-sref="recipes({id: r._id})">{{ r.favorites}}</td>
            <td ui-sref="recipes({id: r._id})">{{ r.comments.length}}</td>
        </tr>
    </table>

</div>

<button ui-sref="me.edit">edit</button>
<div ui-view></div>
</div>
