body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.glyphicon-thumbs-up{
  cursor: pointer;
}

body{
 overflow-x: hidden;
}

.wmargins{
  margin: 20px;
} 

.wsmallmargins{
 margin: 10px;
}

/******************
RECIPE
*******************/
a.author-name {
  color: #3670ba;
  font-family: sans-serif;
  font-size: 12px;
  font-weight: bold;
}

.recipe-title{
 width:70%;
 float:left;
}

.btn-add-comment{
  margin-bottom: 60px;
}


/******************
CREATE
*******************/
.create-headline{
  padding-left: 5px;
}

.mainform-create{
  margin-top:30px; 
}
