body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.glyphicon-thumbs-up{
  cursor: pointer;
}

body{
 overflow-x: hidden;
}

.wmargins{
  margin: 20px;
}

.wsmallmargins{
 margin: 10px;
}


/* --- Recipe --*/
a.author-name {
  color: #3670ba;
  font-family: sans-serif;
  font-size: 12px;
  font-weight: bold;
}

.recipe-title{
 width:70%;
 float:left;
 border: 1px solid blue;
}

.btn-add-comment{
  margin-bottom: 60px;
}

.cropArea {
    background: #E4E4E4;
    overflow: hidden;
    width:500px;
    height:350px;
}
form .progress {
    line-height: 15px;
}
.progress {
    display: inline-block;
    width: 100px;
    border: 3px groove #CCC;
}
.progress div {
    font-size: smaller;
    background: orange;
    width: 0;
}

.center-cropped {
  width: auto;
  height: auto;
  background-position: center center;
  background-repeat: no-repeat;
  overflow: hidden;
}

/* Set the image to fill its parent and make transparent */
.center-cropped img {
  min-height: 100%;
  min-width: 100%;
  /* IE 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  /* IE 5-7 */
  filter: alpha(opacity=0);
  /* modern browsers */
  opacity: 0;
}
