/*	################################################################
	1) SKELETON
	2) AUTH
  3) CREATE
  5) HOME
  6) RECIPELIST
  7) ME
  8) ME.EDIT
  9) SEARCH
  10) RECIPE
  11) USER
################################################################# */ 


/************************************
1. SKELETON
*************************************/
body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.glyphicon-thumbs-up{
  cursor: pointer;
}

body{
 overflow-x: hidden;
}

.wmargins{
  margin: 20px;
} 

.wsmallmargins{
 margin: 10px;
}


/************************************
2. AUTH
*************************************/
.login-signup{
  margin-top:30px;
}


/************************************
3. CREATE
*************************************/
.create-form{
 margin:  0 auto;
 width: 100%;
}

.create-desc{
  margin-top:10px;
}

.create-serv{
  margin-top:10px; 
  width:500px;
}

.create-time{
  margin-top:10px; 
  margin-right:7px; 
  width:285px; 
  float:right;
}

.textarea {
  resize: none;
  margin-top:10px; 
}

.create-headline{
  padding-left: 20px;
  margin-top: 50px;
}

.create-upload-photo{
  background-color: #e95420;
  border: none;
  color: #fff;
  margin-top: 20px;
}

.create-upload-photo:hover{
  background-color: #e95420;
  color: #444444;
}

.h4{
  margin-top: 30px;
  padding-left: 20px;
}


/************************************
5. HOME
*************************************/
.home{
   height: 305px;
}

.carousel-bg{
  background-color:#555555; 
  width:700px;
  margin-top: 30px;
}

/************************************
6. RECIPELIST
*************************************/



/************************************
7. ME
*************************************/



/************************************
8. ME.EDIT
*************************************/


/************************************
9. SEARCH
*************************************/


/************************************
10. RECIPE
*************************************/
a.author-name {
  color: #3670ba;
  font-family: sans-serif;
  font-size: 12px;
  font-weight: bold;
}

.recipe-title{
 width:70%;
 float:left;
}

.btn-add-comment{
  margin-bottom: 60px;
}


/************************************
11. USER
*************************************/





