<h3 class="create-headline">Add a new recipe</h3>

<div ng-hide="isLoggedIn()">
    <h3>You need to
        <a href="/#/login">Log In</a>
        or
        <a href="/#/register">Register</a>
        before you can add a post.</h3>
</div>

<div class="container create-form">
  <form id="mainform" class="form-inline mainform-create" ng-submit="addRecipe()" ng-show="isLoggedIn()">
    <div class="form-group">
      <input type="text" class="form-control" placeholder="Title" size="75" ng-model="title" required/>
    </div>
    <br>
    <div class="form-group">
      <input type="text" class="form-control create-desc" placeholder="Description" size="75" ng-model="description" required/>
    </div>
    <div>
    	<select ng-model="people" class="form-control create-desc" style="width:285px;">
            <option value>Servings</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
        </select>
        <input type="number" class="form-control create-time" placeholder="Time" style="width:285px;" ng-model="time">
    </div>
    <div class="form-group">
        <textarea elastic type="text" class="textarea form-control" placeholder="Descripe the procedure of the recipe" style="width:580px;" ng-model="howto"></textarea>
    </div>
    <div class="form-group create-desc">
    	<fieldset data-ng-repeat="i in ingredients" class="form-inline wpadding">
            <input type="text" ng-model="i.name" class="form-control wpadding" size="27" placeholder="Ingredient">
            <input type="number" ng-model="i.amount" class="form-control wpadding" style="width:155px;" placeholder="Amount">
                <select ng-model="i.unit" class="form-control" style="width:125px;">
                    <option value>Yield</option>
                    <option value="g.">g.</option>
                    <option value="ml.">ml.</option>
                    <option value="dl.">dl.</option>
                </select>
             <button class="btn btn.default xs-small remove" ng-show="$last" ng-click="removeIng()"><i class="glyphicon glyphicon-minus"></i></button>
        </fieldset>
    </div>
    <div>
        <button type='button' class="btn btn-warning btn-sm create-upload-photo" ng-click="addNewIng()">ADD FIELDS</button>
        <button class="btn btn-warning create-upload-photo btn-sm" ngf-select ng-model="files" ngf-multiple="true" ngf-accept="'image/*'" ngf-max-size="10MB" ngf-min-height="100" ngf-resize="{width: 500, height: 500}"><i class="glyphicon glyphicon-open"></i> ADD YOUR PHOTO</button>

    </div>
  </form>
</div>

<!--
<div id="ingredientsDisplay">
    {{ingredients}}
</div>
-->


<h4 class="h4">Preview</h4>
<img ng-repeat="file in files" ngf-thumbnail="file" ngf-size="{width: 100, height: 100, quality: 1}" class="thumb">
<br><br>
<button type="submit" class="btn btn-warning btn-block create-upload-photo" form="mainform">CREATE RECIPE</button>
